.Collection {
  width: 100%;

  h2 {
    font-size: 2.2em;
    text-align: center;
    margin: 1.6em 0;
  }

  &List {
    padding-top: 4em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 3em;
    grid-template-rows: repeat(1fr);
    justify-content: space-between;
    margin: auto;
    width: 75%;
  }

  &Sort {
    border: 1px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 12.25%;

    form {
      display: flex;

      div {
        span {
          text-transform: uppercase;
          font-size: small;
        }

        select {
          height: 3.5em;
          padding: 0 2em;
          outline: none;
          border: none;
          font-size: 1em;
        }

        &:nth-last-of-type(1) {
          margin-left: 3em;
        }
      }
    }

    p{
      margin: 0;
      font-style: italic;
    }
  }
}
