.Home {
  padding-top: 4em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 3em;
  grid-template-rows: repeat(1fr);
  justify-content: space-between;
  width: 75%;
  margin: auto;
}
