.Navbar {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 3em;

  &Logo {
    padding: 1.85em 0;

    img {
      max-width: 15em;
      display: block;
      margin: auto;
    }
  }
  &Link {
    text-align: center;
    padding: 0.2em;

    a {
      text-decoration: none;
      color: #000000;
      margin: 0 0.5em;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
