@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

.PriceCard {
  width: 100%;
  display: block;
  font-size: 1.05em;

  img {
    max-width: 100%;
  }

  span {
    display: block;
    font-weight: 900;
    padding: 0.5em 0;

    &:nth-of-type(1) {
      padding-bottom: 0;
    }

    &:nth-of-type(2) {
      padding: 0;
      padding-bottom: 0.5em;
      display: flex;
      align-items: center;
      font-weight: 400;
      font-family: "Roboto", sans-serif;
    }
  }

  &:hover {
    span {
      &:nth-of-type(1) {
        text-decoration: underline;
      }
    }
  }
}
